In [29]:
# Importar librerías
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [36]:
#Definir tickers de acciones tecnológicas a descargar
tech_tickers = [
    "AAPL", "MSFT", "AMZN", "GOOGL",  # Big Tech
    "NVDA", "AMD", "INTC",           # Semiconductores
    "CRM", "ORCL",           # Software
    "SHOP", "MELI",                  # E-commerce
    "PANW",                  # Ciberseguridad, "PYPL",                    # Fintech
    "META"                   # Redes sociales
]

In [39]:
# Descargar datos en formato MultiIndex
start_date = "2016-01-01"
end_date = datetime.today().strftime('%Y-%m-%d')

data = yf.download(tech_tickers, start=start_date, end=end_date, group_by='ticker', auto_adjust=True)

[*********************100%***********************]  13 of 13 completed

In [46]:
# Transformar a formato largo
frames = []
for ticker in tech_tickers:
    try:
        df = data[ticker].copy()
        df['Ticker'] = ticker
        df.reset_index(inplace=True)  # pasa 'Date' del índice a columna
        frames.append(df)
    except KeyError:
        print(f"[Warning] No se pudo extraer data para {ticker}")

# Concatenar todos los dataframes
df_all = pd.concat(frames, ignore_index=True)

# Reordenar columnas
df_all = df_all[['Date', 'Ticker', 'Open', 'High', 'Low', 'Close', 'Volume']]

# Ordenar por fecha y ticker
df_all.sort_values(by=['Ticker', 'Date'], inplace=True)
df_all.reset_index(drop=True, inplace=True)

# Inspeccionar resultado final
print(df_all.head())
print(df_all.info())

Price       Date Ticker       Open       High        Low      Close     Volume
0     2016-01-04   AAPL  23.184077  23.807681  23.046251  23.803162  270597600
1     2016-01-05   AAPL  23.893544  23.916138  23.138893  23.206675  223164000
2     2016-01-06   AAPL  22.720890  23.129849  22.564990  22.752522  273829600
3     2016-01-07   AAPL  22.296124  22.623742  21.787751  21.792269  324377600
4     2016-01-08   AAPL  22.266747  22.393275  21.862307  21.907495  283192000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30940 entries, 0 to 30939
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    30940 non-null  datetime64[ns]
 1   Ticker  30940 non-null  object
 2   Open    30940 non-null  float64
 3   High    30940 non-null  float64
 4   Low     30940 non-null  float64
 5   Close   30940 non-null  float64
 6   Volume  30940 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 1.7+ MB
None